@page
@using ClientApplication.Config
@inject CurrentUser storage;
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    @if (storage.IsValid)
    {
        <h1 class="display-4">Witaj, @(storage.Login)</h1>
    }
    else
    {
        <h1 class="display-4">Witaj</h1>
        <a class="btn btn-primary" asp-page="Common/Login">Zaloguj się!</a>
    }
</div>
